/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  #eshop, #carrito {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #productos, #items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .producto, .item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
   */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
  
.eshop, .carrito {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
}
  
.productos, .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
  
.producto, .item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
  
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.imagen-disco {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}